@import '@/common/styles/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
  list-style: none;

  outline: none;
  -webkit-appearance: none;
}

html {
  text-size-adjust: 100%;
}

body {
  overflow-x: hidden;

  margin: 0 auto;

  background-color: $background;
  background-image: url('./../../assets/converted.svg');
  background-repeat: space;
  background-position: left;
  background-size: 25vw;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: black;
}

h1 {
  font-size: 48px;
}

h2 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}
