$black2: #fc545d;
$black: #b730aa;
$black3: rgb(56 90 100 / 15%);
$background: #e297dc;
$gray-line: rgb(243 210 241 / 47%);
$white: #fff;
$orange: #f49f16;
$orange2: #b7b9bb;
$container-width: 90%;
$duration: 0.15s;
