@import '@/common/styles/variables';

.logo {
  display: flex;
  gap: 15px;
  align-items: center;

  h1 {
    font-size: 24px;
    font-weight: 800;
    color: #181818;
    text-transform: uppercase;
  }

  p {
    font-weight: bold;
    color: $black;
  }

  @media screen and (width <= 768px) {
    flex-direction: column;
    text-align: center;
  }
}
