@import '@/common/styles/variables';
@import '@/common/styles/mixin';

.header__cart {
  @include primary-btn;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    content: '';

    position: absolute;
    top: 11px;
    right: 40%;

    height: 35px;

    border-right: 1px solid white;
  }

  span {
    font-size: 20px;
    color: white;
  }

  .button__cart {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
}
