@import '@/common/styles/variables';
@import '@/common/styles/mixin';

.categories {
  max-width: 80%;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
      @include ordinary-btn;
    }
  }

  @media (width <= 1408px) {
    width: 100%;

    ul {
      justify-content: center;
    }
  }
}
