@import '../src/common/styles/variables';

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 50px auto;

  background-color: $white;
  border-radius: 20px;
  box-shadow:
    2px 2px 15px $black,
    -2px -2px 15px $black;

  @media (width <= 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }

  @media (width <= 425px) {
    width: 100%;
  }
}
