@import '/src/common/styles/variables';

.cart__itemCount {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  b {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.01em;
  }

  .cart__itemMinus,
  .cart__itemPlus {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 26px;
    height: 26px;

    background-color: #fff;
    border: 2px solid $black;
    border-radius: 50%;

    &:hover {
      background-color: $gray-line;
    }
  }
}
